<html>
    <body style=" background: powderblue;">
        <h1 style=" color: red;font-size: 50px;text-align: center;font-family: 'Courier New', Courier, monospace;">
            " This is a Home Page"
        </h1>
        
        <p style =" background: yellow;font-size: larger; text-align: right;"> " first paragraph" </p>
        <p style=" color: red;font-size: larger;"  >this is  <br>  line break paragraph </p>
        <p style=" color: blue;"> this is blue paragraph </p>
        <a href="https://www.w3schools.com"> " this is a link</a>
    </body>
</html>